*{
    margin: 0;
    padding: 0;   
}

body{
    background-color: wheat;
}
header{
    background-color: rgb(57, 6, 114);
    height: 60px;
    padding-top: 15px;
    margin: 5px 0px 0px 5px;
}
.head{    
    margin-top: 10px;
    margin-left: 150px;     
}

.head a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 10px;
}
.library{
    height: 200px;
    background-color: rgb(22, 9, 80);
    color: white;
    font-size: 30px;
    margin: 0px 0px 0px 5px;
}
.library h1{
    margin-left: 150px;
    padding-top: 45px;
}

.container{
    height: 500px;
    width: 1000px;
    background-color: white;
    margin: -50px 0px 0px 150px;
    padding-top: 20px;
}

.profile{
    margin-bottom: 10px;
    height: 200px;
    width: 1000px;
    

}
.photo{
    height: 200px;
    width: 200px;
    
    float: left;
    
}
.details{
    height: 200px;
    width: 800px;  
    float: left;
}

.details h2{
    margin-top: 50px;
    
}
.details button{
    height: 30px;
    width: 130px;
    margin-bottom: 5px;
    font-size:15px ;
    font-weight: bolder;
    background-color: rgb(83, 83, 83);
    color: white;
    border: gray;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 3px;
}
.details a{
    text-decoration: none;
    color: black;
}
.photo img{
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 30px;
}
.more{
    margin-left: 900px;
    background-color: darkcyan;
    border: darkcyan;
    height: 30px;
    width: 80px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}
hr{
    width: 950px;
    margin: auto;
}

footer{
    padding-left: 150px;
    margin-top: 50px;
}
.follow{
   
    background: rgb(192, 192, 5); 
    border-radius: 5px;   
}
.sociallink{
    height: 25px;
    width: 80px;
    float: left;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 6px;   
}
.sociallink a{
    text-decoration: none;
    color: white;
}

